@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

:root {
  --dark-blue-1: #002A48;
  --dark-blue-2: #003459;
  --dark-blue-3: #00528C;
  --dark-blue-4: #0078CD;

  --mon-yellow-1: #EEC77E;
  --mon-yellow-2: #F1D092;
  --mon-yellow-3: #F7DBA7;
  --mon-yellow-4: #FCEED5;

  --pink-red: #FF564F;
  --green-light: #34C759;
  --orange-shine: #FF912C;
  --blue-sea: #00A7E7;

  --neutral-color-100: #00171F;
  --neutral-color-80: #242B33;
  --neutral-color-60: #667479;
  --neutral-color-40: #99A2A5;
  --neutral-color-20: #CCD1D2;
  --neutral-color-10: #EBEEEF;
  --neutral-color-00: #FDFDFD;

  --black: #000000;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
}

body {
  position: relative;
  background-color: var(--neutral-color-00);
}
/* this class was built to help me compare between the figma and this design */
.empty {
  height: 2.9375rem;
  width: 100%;
}

/* buttons */
.any-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.75rem;
  gap: .5rem;
  border: .0938rem solid var(--dark-blue-2);
  border-radius: 3.5625rem;
  font-size: 1rem;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 500;
}
.join{
  background-color: var(--dark-blue-2);
  color: var(--neutral-color-00);
  font-weight: 700;
}
.explore {
  background-color: var(--dark-blue-2);
  color: var(--neutral-color-00);
  width: 10.1875rem;
  height: 3rem;
}
.view {
  width: 10.0625rem;
  background-color: transparent;
  color: var(--dark-blue-2);
  height: 3rem;
}
.view svg {
  border: .0938rem solid var(--dark-blue-2);
  border-radius: 50%;
}
.view-more {
  background-color: transparent;
  color: var(--dark-blue-2);
  padding: .875rem 1.75rem .625rem;
  gap: .5rem;
  font-weight: 500;
  width: 9.4375rem;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  height: 2.75rem;
}
.view-more.mobile {
  width: 100%;
  line-height: 1.5rem;
  height: 3rem;
}
.view-more::after {
  content: "";
  display: inline-block;
  width: .625rem;
  height: .625rem;
  background-image: url("data:image/svg+xml;utf8,<svg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.75 0.75L4.08333 4.08333L0.75 7.41667' stroke='%23003459' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
}
/* layout */
.section-layout, footer{
  margin: 0 auto;
}
.section-wrapper{
  max-width: 90rem;
  margin: 0 auto;
}
.our-products,
.pet-sellers,
.adoption {
  display: none;
}
.truncate-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* background shapes */
/* make the position in percentage */
header .rectangle-1 {
  z-index: 0;
  position: absolute;
  width: 39.6875rem;
  height: 39.6875rem;
  background: var(--mon-yellow-3);
  border-radius: 3.8125rem;
  transform: rotate(19.42deg);
  right: 8.67%;
  bottom: 93.1%;
}

header .rectangle-2 {
  z-index: 0;
  position: absolute;
  width: .7775rem;
  height: .7775rem;
  left: 18.875rem;
  top: 13.06rem;
  background: var(--dark-blue-1);
  border-radius: .25rem;
  transform: rotate(-30.59deg);
}

header .rectangle-3 {
  z-index: 0;
  position: absolute;
  width: .9956rem;
  height: .9956rem;
  left: 19.0256rem;
  top: 12.8125rem;
  background: var(--mon-yellow-3);
  border-radius: .25rem;
  transform: rotate(-9.62deg);
}

header .rectangle-4 {
  z-index: 0;
  position: absolute;
  width: .9144rem;
  height: .9144rem;
  left: 21.8125rem;
  top: 11.25rem;
  background: var(--mon-yellow-3);
  border-radius: .25rem;
  transform: rotate(20.79deg);
}

header .rectangle-5 {
  z-index: 0;
  position: absolute;
  width: 33.0613rem;
  height: 33.0613rem;
  left: 9%;
  top: 66%;
  background: var(--dark-blue-2);
  border-radius: 3rem;
  transform: rotate(5.37deg);
}

header .rectangle-6 {
  z-index: 0;
  position: absolute;
  width: 33.0613rem;
  height: 33.0613rem;
  left: 21%;
  top: 63%;
  background: var(--mon-yellow-3);
  border-radius: 3rem;
  transform: rotate(25.23deg);
}

.one-more-friend .rectangle-7 {
  z-index: -1;
  position: absolute;
  width: 37.8144rem;
  height: 39.6875rem;
  left: -40%;
  top: -47%;
  background: var(--mon-yellow-4);
  border-radius: 4.6875rem;
  transform: rotate(11.41deg);
}

.one-more-friend .rectangle-8 {
  z-index: -1;
  position: absolute;
  width: 49.2212rem;
  height: 49.2212rem;
  left: -51%;
  top: 85%;
  background: var(--dark-blue-1);
  border-radius: 6.1875rem;
  transform: rotate(28.25deg);
}

.adoption .rectangle-9 {
  z-index: -1;
  position: absolute;
  width: 48.8931rem;
  height: 39.6875rem;
  left: -18%;
  top: -65%;
  background: var(--mon-yellow-4);
  border-radius: 6.1875rem;
  transform: matrix(-0.9, 0.43, 0.43, 0.9, 0, 0);
}

.adoption .rectangle-10 {
  z-index: -1;
  position: absolute;
  width: 49.2212rem;
  height: 49.2212rem;
  left: 49%;
  top: 46%;
  background: linear-gradient(102.87deg,var(--mon-yellow-4) 6.43%, var(--mon-yellow-4) 78.33%, #FFE7BA 104.24%);
  opacity: 0.3;
  border-radius: 6.1875rem;
  transform: matrix(-0.88, 0.47, 0.47, 0.88, 0, 0);
}

header .rectangle-11 {
  display: none;
  z-index: 0;
  position: absolute;
  width: 4.1937rem;
  height: 4.1937rem;
  left: 8%;
  top: 26%;
  background: var(--mon-yellow-3);
  border-radius: 1.25rem;
  transform: rotate(25.23deg);
}

header .rectangle-12{
  display: none;
  z-index: 0;
  position: absolute;
  width: 635px;
  height: 635px;
  left: 0%;
  top: 97%;
  background: var(--mon-yellow-3);
  opacity: 0.4;
  border-radius: 99px;
  transform: rotate(56.47deg);
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
header {
  margin: 0 auto;
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 0rem 0rem 1.25rem 1.25rem;
}

header .header-wrapper {
  max-width: 90rem;
  margin: 0 auto;
  color: var(--neutral-color-100);
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

header .desktop {
  display: none;
  position: relative;
  z-index: 1;
}

header .desktop .desktop-header-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 2.25rem;
  padding: 1.75rem 8.125rem;
  margin: 0 auto;
}

header .desktop .desktop-header-container .left,
header .desktop .desktop-header-container .right {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;

}

header .desktop .desktop-header-container .left {
  gap: 3rem;
}

.left img {
  width: 7.1875rem;
  height: 2.5rem;
}

.left nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
}

.left nav a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color:var(--dark-blue-1);
}

.left nav a:visited {
  color:var(--dark-blue-1);
}

header .desktop .desktop-header-container .right {
  gap: .875rem;
  justify-content: right;
}

.right .search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .75rem 1.25rem .75rem 1rem;
  gap: .75rem;

  width: 17.5rem;
  height: 2.75rem;

  background: var(--neutral-color-00);
  border-radius: 2.875rem;
}

.right .search-box input {
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.right .currency-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right .currency-selector select {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;

  color: var(--dark-blue-1);

}

.currency-selector .currency-selector-flag {
  padding-right: .375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .mobile {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .8438rem .875rem 0rem .625rem;
  gap: 2.75rem;
  z-index: 1;
  position: relative;
  height: 3.5625rem;
}

header .mobile button {
  background-color: transparent;
  border: none;
}

header .header-contents {
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5625rem;
  position: relative;
}

header .header-contents .text-content {
  padding: 1rem 1rem 0;
  margin-top: 2.1875rem;
}

header .header-contents .text-content h1 {

  font-style: normal;
  font-weight: 800;
  font-size: 2.875rem;
  line-height: 3.75rem;
  text-transform: capitalize;
  color: var(--dark-blue-1);
}

header .header-contents .text-content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.375rem;
  text-transform: capitalize;
  color: var(--dark-blue-1);

}

header .header-contents .text-content p {
  font-style: normal;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.125rem;
  color: var(--neutral-color-80);
  margin-top: .75rem;
  margin-bottom: 2rem;
}

header .header-contents .text-content .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

header .header-contents .image-content {
  flex-grow: 1;
  background: url(assets/header-images/woman-with-dog.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 23.75rem;
}

header .header-contents .image-content img {
  object-fit: cover;
  transform: translateY(1%);

}

/* /////////////////////////////////////////////////////////////////////////////////// */
.whats-new-wrapper {
  width: 100%;
  padding: 2.5rem 1rem;
}

.whats-new-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.whats-new-header button {
  display: none;
}

.whats-new-header-text h1 {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  display: flex;
  align-items: flex-end;
  color: var(--black);
}

.whats-new-header-text h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2rem;
  display: flex;
  align-items: flex-end;
  text-transform: capitalize;
  color: var(--dark-blue-2);
}

.card-grid {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  display: grid;

  justify-items: center;
  align-items: center;

  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(11.5625rem, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(19.8125rem, 1fr)); */
  gap: .75rem .75rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .5rem;
  gap: .5rem;
  width: 11.5625rem;
  height: 19.8125rem;
  background: var(--neutral-color-00);
  box-shadow: 0rem .25rem 1.75rem -0.125rem rgba(0, 0, 0, 0.08);
  border-radius: .75rem;
}

.card img {
  background: var(--white);
  border-radius: .625rem;
  order: 0;
  object-fit: cover;
}

.card .card-text {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card .card-info {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.card .card-info-1 {
  display: inline-block;
  width: 159px;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--neutral-color-100);
}

.card .card-info-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .25rem;
  text-transform: capitalize;
}

.card .card-info-2 span {
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.125rem;
  color: var(--neutral-color-60);
}

.card .card-info-2 span span {
  font-weight: 700;
  font-size: .75rem;
  line-height: 1.125rem;
  color: var(--neutral-color-60);
}

.card .card-text .card-price {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: flex-end;
  color: var(--neutral-color-100);
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
.one-more-friend-wrapper {
  padding-top: 0rem;
}

.banner {
  margin: 0rem 1rem;
  background: var(--dark-blue-2);
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.4375rem;
  margin-bottom: 2.5rem;
}

.banner .banner-content {
  order: 0;
  /* not accurate */
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.banner img {
  order: 1;
  width: 32.75rem;
  height: 21.8125rem;
}

.banner .banner-content .banner-text h1 {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 3.375rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-blue-1);
}

.banner .banner-content .banner-text h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-blue-1);
}

.banner .banner-content .banner-text p {
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.125rem;
  text-align: center;
  color: var(--neutral-color-80);
  margin-bottom: 2rem;
  margin-top: .75rem;
  max-width: 21.375rem;
}

.banner .banner-content .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
/* ////////////////////////////////////////////////////////////// */
.our-products .card-grid {
  margin-top: 1.75rem;
  margin-bottom: 3.75rem;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(27.875rem, 1fr));
  gap: 1.25rem 1.25rem;
}

.our-products .card {
  height: 27.875rem;
}

.our-products .card .card-info .card-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--neutral-color-100);
}

.our-products .card .card-info-2 {
  align-items: center;
  padding: 0rem;
  gap: .25rem;
}

.our-products .card-text .card-offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .375rem .625rem .25rem;
  gap: .125rem;
  background: #FCEED5;
  border-radius: .5rem;
}

.our-products .card-text .card-offer span {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--dark-blue-1);
}
/* ////////////////////////////////////////////////////////////// */
.pet-sellers-wrapper {
  width: 100%;
  padding: 2.5rem 8.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .9375rem;
}

.pet-sellers-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pet-sellers-header h1 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.9375rem;
  color: var(--black);
}

.pet-sellers-header h1 span {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: capitalize;
  color: var(--dark-blue-2);
}

.pet-sellers-header button {
  padding: .75rem 1.75rem;
  width: 12.5625rem;
  height: 2.75rem;
}

.pet-sellers-entities-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.25rem;
}

.pet-seller-entity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  gap: .625rem;
  width: 9.4644rem;
  height: 7rem;
}
/* ////////////////////////////////////////////////////////////// */
.adoption {
  height: 23.625rem;
}

.adoption-wrapper {
  width: 100%;
}

.adoption .banner {
  background: #FFB775;
  gap: 1.4375rem;
}

.adoption .banner .banner-content {
  order: 0;
  padding-top: 4rem;
  padding-left: 5.3125rem;
  padding-right: 0rem;
  padding-left: 4.5rem;
  display: flex;
  flex-direction: column;
}

.adoption .banner img {
  order: 1;
  transform: matrix(-0.59, -0.81, -0.81, 0.59, 0, 0);
}

.adoption .banner .banner-content .banner-text {
  padding-left: .8125rem;
}

.adoption .banner .banner-content .banner-text .banner-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.adoption .banner .banner-content .banner-text h1 {
  text-align: left;
  font-size: 3.25rem;
  line-height: 4.25rem;
}

.adoption .banner .banner-content .banner-text h2 {
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-blue-1);
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.375rem;
}

.adoption .banner .banner-content .banner-text p {
  text-align: left;
  color: var(--neutral-color-80);
  margin-bottom: 2rem;
  margin-top: .75rem;
  max-width: 24.625rem;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.125rem;

}

.adoption .banner .banner-content .buttons {
  gap: 1.25rem;
  align-self: flex-start;
}
/* ////////////////////////////////////////////////////////////// */
.usefull-knowlege-wrapper {
  padding: 0 1rem 2.5rem;
}

.whats-new-header-text h1 {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--black);
}

.whats-new-header-text h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2rem;
  display: flex;
  align-items: flex-end;
  text-transform: capitalize;
  color: var(--dark-blue-2);
}

.usefull-knowlege .card-container {
  margin: 1.25rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23.875rem, 1fr));
  gap: .75rem;
}

.usefull-knowlege .card-container .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .5rem;
  gap: .5rem;
  width: 23.875rem;
  height: 26.5rem;
  overflow: hidden;
  background: var(--white);
  box-shadow: 0rem .25rem 1.75rem -0.125rem rgba(0, 0, 0, 0.08);
  border-radius: .75rem;
}

.usefull-knowlege .card img {
  border-radius: .625rem;
  object-fit: cover;
}

.usefull-knowlege .card .card-content {
  padding: .5rem;
}

.usefull-knowlege .card .card-content .card-flag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: .125rem .625rem;
  gap: .625rem;

  width: 5.5625rem;
  height: 1.25rem;

  background: var(--blue-sea);
  border-radius: 1.75rem;
  white-space: nowrap;


  font-weight: 700;
  font-size: .625rem;
  line-height: 1rem;

  color: var(--neutral-color-00);
  margin-bottom: .625rem;
}

.usefull-knowlege .card .card-content .card-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: .375rem;
  color: var(--neutral-color-100);
}

.usefull-knowlege .card .card-content .card-description {
  margin-top: .375rem;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--neutral-color-80);
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
footer {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 1.25rem 1.25rem 0 0;
}

.footer-wrapper {
  border-radius: 1.25rem 1.25rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem 1.25rem;
}

.footer-wrapper .footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 0rem 0rem 2.5rem;
  gap: 2.5rem;
  border-bottom: .0625rem solid var(--neutral-color-20);
}

footer .footer-wrapper .rigester {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;

  width: 23.875rem;
  height: 15.25rem;
  background: var(--dark-blue-2);
  border-radius: 1rem;
}

.rigester h1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2rem;
  text-transform: capitalize;

  color: var(--neutral-color-00);

}

.rigester .subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: .75rem;
  gap: .75rem;

  width: 21.875rem;
  height: 8.25rem;

  background: var(--white);
  border-radius: .875rem;

}

.rigester .subscribe-form .subscribe-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .875rem 1.75rem;
  gap: .625rem;
  width: 20.375rem;
  height: 3rem;
  background: var(--white);
  border: .0625rem solid var(--neutral-color-40);
  border-radius: .5rem;

}

.rigester .subscribe-form .subscribe-bar input {
  border: none;
}

.rigester .subscribe-form .subscribe-bar input::placeholder {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--neutral-color-40);
}

.rigester .subscribe-form .subscribe-bar.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .875rem 1.75rem .625rem;
  gap: .625rem;
  background: var(--dark-blue-2);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--neutral-color-00);

}

.footer-wrapper .links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.footer-wrapper .links-container nav:nth-of-type(1) {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  width: 100%;
}

.footer-wrapper .links-container nav:nth-of-type(1) a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--neutral-color-100);
}

.footer-wrapper .links-container nav:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;
  gap: 2.5rem;
}

.footer-wrapper .links-container nav:nth-of-type(2) a {
  text-decoration: none;
}

.footer-wrapper .additional-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.footer-wrapper .additional-info nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: .75rem;
  margin-bottom: .5rem;
}

.footer-wrapper .additional-info nav a {
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.125rem;
  text-decoration: none;
  color: var(--neutral-color-60);
}

.footer-wrapper .additional-info span {
  font-weight: 400;
  font-size: .625rem;
  line-height: 1rem;
  color: var(--neutral-color-60);
}

@media (min-width:90rem) {
  .empty {
    display: none;
  }

  header {
    border-radius: 0rem 0rem 2.5rem 2.5rem;
  }

  header .rectangle-1 {
    left: -15%;
    top: -84%;
    border-radius: 6.1875rem;
    transform: rotate(25.23deg);
  }

  header .rectangle-2 {
    width: 1.3419rem;
    height: 1.3419rem;
    left: 52%;
    top: 31%;
    border-radius: .375rem;
    transform: rotate(-43deg);
  }

  header .rectangle-3 {
    width: 1.7188rem;
    height: 1.7188rem;
    left: 52%;
    top: 30%;
    border-radius: .5625rem;
    transform: rotate(-22.85deg);
  }

  header .rectangle-4 {
    left: 55%;
    top: 21%;
  }

  header .rectangle-5 {
    width: 39.6875rem;
    height: 39.6875rem;
    left: 45%;
    top: 46%;
    border-radius: 6.1875rem;
    transform: rotate(9.35deg);
  }

  header .rectangle-6 {
    width: 39.6875rem;
    height: 39.6875rem;
    left: 49%;
    top: 40%;
    border-radius: 6.1875rem;
  }

  header .rectangle-11 {
    display: flex;
  }

  header .rectangle-12{
   display: flex;
  }

  header .mobile {
    display: none;
  }

  header .desktop {
    display: flex;
  }

  header .header-contents {
    flex-direction: row;
  }

  header .header-contents .text-content {
    padding-left: 8.125rem;
    margin-top: 5rem;
  }

  header .header-contents .text-content h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 4.25rem;
    text-transform: capitalize;

  }

  header .header-contents .text-content h3 {
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.75rem;

  }

  header .header-contents .text-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 30rem;
    margin-top: 1.5rem;
  }

  header .header-contents .image-content {
    height: 37.1875rem;
    background-size: 59rem 43.3125rem;
    background-position: center top;
  }


















  .whats-new {}

  .whats-new-wrapper {
    padding: 3.75rem 8.125rem;
    padding-bottom: 0rem;
  }

  .whats-new-header {}

  .whats-new-header-text {}

  .whats-new-header button {
    display: flex;
    align-self: flex-end;
  }

  .whats-new-header-text h1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .whats-new-header-text h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .card-grid {
    margin-top: 1.75rem;
    margin-bottom: 3.75rem;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(23.625rem, 1fr));
    gap: 1.25rem 1.25rem;
  }

  .card {
    width: 17.5rem;
    height: 23.625rem;
  }

  .card img {
    border-radius: .625rem;
    width: 100%;
  }

  .card .card-text {
    gap: .25rem;
    padding-top: .5rem;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom: 1.25rem;
  }


  .card .card-info-1 {
    flex-direction: row;
    font-size: 1rem;
    line-height: 1.5rem;
    gap: .375rem;
  }

  .card .card-info-2 {
    flex-direction: row;
    align-items: flex-start;
    gap: 1.625rem;
    text-transform: capitalize;
  }

  .card .card-text .card-price {

    color: var(--neutral-color-100);
    font-size: .875rem;
    line-height: 1.25rem;
  }

  .whats-new button.mobile {
    display: none;
  }




















  .one-more-friend-wrapper {
    padding-top: 0rem;
  }

  .banner {
    margin: 0rem 8.125rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.4375rem;
    margin-bottom: 2.5rem;
    height: 23.625rem;
  }

  .one-more-friend .rectangle-7 {
    width: 48.8931rem;
    border-radius: 6.1875rem;
    transform: rotate(25.23deg);
    left: 52%;
    top: -56%;

  }

  .one-more-friend .rectangle-8 {
    left: -16%;
    top: 46%;
  }

  .banner .banner-content {
    order: 1;
    padding-top: 4rem;
    padding-left: 0rem;
    padding-right: 5.3125rem;
    align-self: self-start;
  }

  .banner img {
    order: 0;
  }

  .banner .banner-content .banner-text h1 {
    color: var(--dark-blue-2);
    font-size: 3.25rem;
    line-height: 4.25rem;
    text-align: right;
  }

  .banner .banner-content .banner-text h2 {
    color: var(--dark-blue-2);
    font-size: 2.25rem;
    line-height: 3.375rem;
    text-align: right;
  }

  .banner .banner-content .banner-text p {
    text-align: right;
    margin-bottom: 2rem;
    margin-top: .75rem;
    max-width: 25rem;
  }

  .banner .banner-content .buttons {
    gap: 1.25rem;
  }















  .our-products {
    display: flex;
  }

  .our-products .whats-new-wrapper {
    padding-top: 1.25rem;
  }













  .pet-sellers {
    display: flex;
  }



  .adoption {
    display: flex;
  }


  .usefull-knowlege {
    height: 39.625rem;
  }

  .usefull-knowlege-wrapper {
    padding: 3.75rem 8.125rem;
  }

  .whats-new-header {
    margin-bottom: 1.75rem;
  }

  .whats-new-header-text {}

  .whats-new-header-text h1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .whats-new-header-text h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .usefull-knowlege .card-container {
    margin: 1.25rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23.75rem, 1fr));
    /* gap: 1.25rem; */
  }

  .usefull-knowlege .card-container .card {}

  .usefull-knowlege .card img {
    /* border-radius: .625rem;
                                                                                    object-fit: cover; */
  }

  .usefull-knowlege .card .card-content {
    /* padding: .5rem; */
  }

  .usefull-knowlege .card .card-content .card-flag {
    font-weight: 700;
    font-size: .625rem;
    line-height: 1rem;
    color: var(--neutral-color-00);
  }

  .usefull-knowlege .card .card-content .card-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .usefull-knowlege .card .card-content .card-description {}

  .usefull-knowlege button.mobile {
    display: none;
  }

















  footer .footer-wrapper {
    max-width: 90rem;
    margin: 0rem auto;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    padding: 0rem 8.125rem;
    padding-bottom: 2.5rem;
    padding-top: 5rem;

  }

  .footer-wrapper .footer-content {
    width: 100%;
    border-bottom: .0625rem solid var(--neutral-color-20);
  }

  footer .footer-wrapper .rigester {
    flex-direction: row;
    background: var(--dark-blue-2);
    padding: 2rem;
    gap: 1.25rem;
    width: 73.75rem;
    height: 8.5rem;
  }

  .rigester h1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
    max-width: 24.3125rem;
  }

  .rigester .subscribe-form {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 44.1875rem;
    height: 4.5rem;
  }

  .rigester .subscribe-form .subscribe-bar {
    width: 31.5rem;
  }

  .rigester .subscribe-form .subscribe-bar input::placeholder {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    color: var(--neutral-color-40);
  }

  .rigester .subscribe-form .subscribe-bar.button {
    width: 10.1875rem;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .875rem 1.75rem .625rem;
    gap: .625rem;
    background: var(--dark-blue-2);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--neutral-color-00);
  }

  .footer-wrapper .links-container {
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 35.125rem;
  }

  .footer-wrapper .links-container nav:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 3.75rem;
  }

  .footer-wrapper .links-container nav:nth-of-type(1) a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .footer-wrapper .additional-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-wrapper .additional-info .footer-links {
    order: 3;
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    gap: .75rem;
  }

  .footer-wrapper .additional-info .footer-links a {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
  }

  .footer-wrapper .additional-info .footer-logo{
    order: 2;
  }

  .footer-wrapper .additional-info .footer-licance {
    order: 1;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
  }


}